.about-info {
    .about-us {
        color: #2857FF;
        font-size: 18px;
        line-height: 21.6px;
        font-weight: 500;
    }
}

.people-revies {
    width: 80%;
    height: 230px;
    margin: 0 auto;
    margin-top: -8rem;
    padding: 13px 16px;
    align-items: center;
    border-radius: 30px;
    flex-shrink: 0;
    position: relative;
    z-index: 3;
}

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

@include lg-screen {
    .about-info {
        .about-us {
            margin-top: 4rem;
        }
    }
}

@include sm-screen {
    .people-revies {
        width: 90%;
        height: 250px;
        padding: 13px 5px;
        border-radius: 15px;
    }
}