// why should choose us
.chooseUs-sec {
    background-color: #F9F9F9;
}

// why should choose us
.why-should {
    a {
        font-size: 18px;
    }
    .second-learn {
        color: #B236FF;
    }
    .third-learn {
        color: #2857FF;
    }
}

// form
.form {
    input {
        color: white;
    }
    input::placeholder {
        color: rgb(102, 102, 102);
    }
    textarea {
        color: white;
    }
    textarea::placeholder {
        color: rgb(102, 102, 102);
    }
    button:hover {
        background-color: #ff4c96;
    }
}

.women {
    width: 570px;
    height: 433px;
}

// footer
.footer {
    // align-items: center;
    padding-top: 7.2rem;
    padding-bottom: 3rem;
    a {
        color: #565656;
        transition: all 0.35s ease;
        &:hover {
            color: #ff4c96;
            padding-left: 10px;
        }
    }
}

@include lg-screen {
    .property-ready {
        margin-bottom: 2rem;
    }
    .title-collison button {
        // background-color: red;
        margin-top: 0rem;
        margin-bottom: 4rem;
    }
}

@include md-screen {
    .accuracy-images {
        display: flex;
        flex-direction: column;
        align-items: center;
        // background-color: red !important;
    }
    .big-image {
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
    // why should chooose us
    .why-should .high-quality {
        // background-color: red;
        margin: 3rem 0rem;
    }
}

@include sm-screen {
    .form {
        button {
            margin-top: 1rem;
            margin-bottom: 5rem;
        }
    }
    .Copywrite {
        p {
            font-size: 15px;
            // background-color: red;
        }
        .terms-service {
            padding-left: 0;
        }
    }
}