.Tabs {
    .nav-item {
        border-bottom: 2px solid #e0dfdf;
    }
    button {
        font-size: 20px;
        font-weight: 400;
        color: #999999;
    }
    #myTab .active {
        color: #FF368A;
        border: none;
        border-bottom: 2px solid #FF368A;
    }
    .nav-tabs {
        border: none;
    }
}

// .remove-space {
//     background-color: red;
//     padding-left: 0px;
//     padding-right: 0px;
// }
.house-1 {
    background-image: url('../../assets/img/feature1.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 404px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.house-2 {
    background-image: url('../../assets/img/feature2.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 404px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.house-3 {
    background-image: url('../../assets/img/feature3.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 404px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.same-info {}

.aprtment-1 {
    background-image: url('../../assets/img/feature2.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 404px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.aprtment-2 {
    background-image: url('../../assets/img/feature1.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 404px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.aprtment-3 {
    background-image: url('../../assets/img/feature3.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 404px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.land-1 {
    background-image: url('../../assets/img/feature1.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 404px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.land-2 {
    background-image: url('../../assets/img/feature3.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 404px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.land-3 {
    background-image: url('../../assets/img/feature2.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 404px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.view-1 {
    background-image: url('../../assets/img/feature1.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 404px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.view-2 {
    background-image: url('../../assets/img/feature2.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 404px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

.view-3 {
    background-image: url('../../assets/img/feature3.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 404px;
    flex-shrink: 0;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}

// what is true title
.True-title {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    margin: 7.2rem 0rem;
    padding: 4rem 0rem;
    background-image: url('../../assets/img/layers.png');
}

@include lg-screen {
    .tabs-heading {
        margin-top: 2rem;
        // background-color: red;
    }
}

// media queiries
@include sm-screen {
    .house-1 {
        margin-top: 2rem;
        background-size: cover;
    }
    .house-2 {
        margin-top: 2rem;
        background-size: cover;
    }
    .house-3 {
        margin-top: 2rem;
        background-size: cover;
    }
    .same-info {}
    .aprtment-1 {
        margin-top: 2rem;
        background-size: cover;
    }
    .aprtment-2 {
        margin-top: 2rem;
        background-size: cover;
    }
    .aprtment-3 {
        margin-top: 2rem;
        background-size: cover;
    }
    .land-1 {
        margin-top: 2rem;
        background-size: cover;
    }
    .land-2 {
        margin-top: 2rem;
        background-size: cover;
    }
    .land-3 {
        margin-top: 2rem;
        background-size: cover;
    }
    .view-1 {
        margin-top: 2rem;
        background-size: cover;
    }
    .view-2 {
        margin-top: 2rem;
        background-size: cover;
    }
    .view-3 {
        margin-top: 2rem;
        background-size: cover;
    }
}

@include lg-screen {
    // what is true title
    .True-title {
        .contact-btn {
            margin-top: 2rem;
            margin-bottom: 4rem;
        }
    }
}

@include md-screen {
    .second-img {
        // background-color: red;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }
}