// form
.form {
    input {
        color: white;
    }
    input::placeholder {
        color: rgb(102, 102, 102);
    }
    textarea {
        color: white;
    }
    textarea::placeholder {
        color: rgb(102, 102, 102);
    }
    button:hover {
        background-color: #ff4c96;
    }
}

.women {
    width: 570px;
    height: 433px;
}

// footer
.footer {
    // align-items: center;
    padding-top: 7.2rem;
    padding-bottom: 3rem;
    a {
        color: #565656;
        transition: all 0.35s ease;
        &:hover {
            color: #ff4c96;
            padding-left: 10px;
        }
    }
}

@include sm-screen {
    .form {
        button {
            margin-top: 1rem;
            margin-bottom: 5rem;
        }
    }
    .Copywrite {
        p {
            font-size: 15px;
            // background-color: red;
        }
        .terms-service {
            padding-left: 0;
        }
    }
}