.primary-color {
    color: #FF368A;
}

.bordar-radius {
    border-radius: 3rem;
}

.bgprimary-color {
    background-color: #FF368A;
}

.white-color {
    color: #CDCDCD;
}

.dark-color {
    background-color: #151515;
}

.bg-placehold {
    background-color: #1E1E1E;
}

.same-space {
    padding: 7.2rem 0rem;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.same-margin {
    width: 86%;
    margin: auto;
}

.gap {
    gap: 10px;
}